<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dynasties of French Kings</title>
	{% endblock %}
</head>
<body>
	{% block content %}
	<h1>Royal dynasties of France</h1>
	<p>France is a great nation with a long history. Here we'll try to look back at the dynasties of French kings. The Frenchmen originate from Franks, <br>a Germanic tribe. Their history began as early as V century AD. The Roman Empire vanished in V century, Kyiv was founded at that time, as well.</p>
	<p>So, what were the dynasties that existed in the history of France?</p>
	<p>Those were: <a href="/The%20Merovingians">the Merovingians</a>, <a href="/The%20Carolingians">the Carolingians</a>, <a href="/The%20Capetians">the Capetians</a>, <a href="/The%20Valois">the Valois</a>, <a href="/The%20Bourbons">the Bourbons</a>, <a href="/The%20Bonapartes">the Bonapartes</a>, and <a href="/The%20Orleans">the Orléans</a>.</p>
	<br>
	<img src="../static/Flag_of_France_(XIV-XVI).svg" alt="" width="250">
	{% endblock %}	
</body>
</html>